In [123]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set(rc={"figure.figsize": (20, 10)})
plt.rc('figure', figsize=(20, 10))
import numpy as np
from utils import *

Using Theano backend.

In [84]:
path = "data/train/"

In [88]:
action_cate8 = pd.read_csv(path + 'positive.csv', encoding='gbk', 
                                  parse_dates=['time_y'])

In [ ]:
action_cate8.groupby('user_id')

In [90]:
g = action_cate8.groupby(['user_id', 'sku_id'])

In [91]:
import datetime
all_time = []
for (u, s), group in g:
    type_g = group.groupby('type_y')
    arr = [u, s] + [None] * 12
    for t, tg in type_g:
        arr[t*2] = tg.sort_values('time_y', ascending=True)['time_y'].values[0]
        arr[t*2+1] = tg.sort_values('time_y', ascending=False)['time_y'].values[0]
    all_time.append(arr)

#     break
#     cart = group[group.type==2]
#     buy = group[group.type==4]
#     last_cart = cart.sort_value('time_y', ascending=False)[0]['time_y']
#     last_buy.sort_value('time-y', ascending=True)[0]['time_y']

In [28]:
flag = ['start', 'end'] * 6

In [92]:
positive_timetable = pd.DataFrame(np.array(all_time), 
                columns=['uid', 'sid'] + [str(i/2+1) + flag[i] for i in range(len(flag))])
positive_timetable.head(10)

,uid,sid,1start,1end,2start,2end,3start,3end,4start,4end,5start,5end,6start,6end
0,16,116489,2016-04-03T06:20:02.000000000,2016-04-03T06:32:08.000000000,2016-04-03T06:32:06.000000000,2016-04-03T06:32:06.000000000,None,None,2016-04-03T06:46:00.000000000,2016-04-03T06:46:00.000000000,None,None,2016-04-03T06:20:01.000000000,2016-04-03T06:35:32.000000000
1,69,154732,2016-04-10T15:19:36.000000000,2016-04-11T13:30:07.000000000,2016-04-10T15:32:18.000000000,2016-04-10T15:32:18.000000000,None,None,2016-04-10T15:49:00.000000000,2016-04-10T15:49:00.000000000,2016-04-10T15:32:01.000000000,2016-04-10T15:32:01.000000000,2016-04-10T15:29:00.000000000,2016-04-11T13:30:06.000000000
2,112,52343,2016-04-02T21:10:22.000000000,2016-04-09T08:57:03.000000000,2016-04-02T21:15:45.000000000,2016-04-02T21:31:35.000000000,2016-04-02T21:18:35.000000000,2016-04-02T21:30:45.000000000,2016-04-02T21:36:00.000000000,2016-04-02T21:36:00.000000000,None,None,2016-04-02T21:10:22.000000000,2016-04-09T08:57:03.000000000
3,121,69355,2016-04-08T22:13:06.000000000,2016-04-11T18:14:10.000000000,2016-04-10T13:11:23.000000000,2016-04-10T13:11:23.000000000,None,None,2016-04-10T13:15:00.000000000,2016-04-10T13:15:00.000000000,2016-04-08T22:16:25.000000000,2016-04-08T22:16:25.000000000,2016-04-08T22:13:06.000000000,2016-04-11T18:14:10.000000000
4,128,57161,2016-04-11T08:39:24.000000000,2016-04-14T09:49:54.000000000,2016-04-11T09:16:17.000000000,2016-04-11T09:16:45.000000000,None,None,2016-04-11T09:17:00.000000000,2016-04-11T09:17:00.000000000,None,None,2016-04-11T08:39:24.000000000,2016-04-11T09:16:47.000000000
5,172,75489,2016-04-09T21:52:56.000000000,2016-04-13T15:20:30.000000000,2016-04-10T13:13:54.000000000,2016-04-10T13:13:54.000000000,None,None,2016-04-10T13:31:00.000000000,2016-04-10T13:31:00.000000000,None,None,2016-04-09T21:52:56.000000000,2016-04-13T15:20:30.000000000
6,194,149641,2016-04-08T12:50:26.000000000,2016-04-14T15:34:17.000000000,2016-04-09T21:54:23.000000000,2016-04-09T21:54:23.000000000,None,None,2016-04-10T00:12:00.000000000,2016-04-10T00:12:00.000000000,None,None,2016-04-08T12:50:26.000000000,2016-04-14T15:34:17.000000000
7,214,164544,2016-04-04T11:23:55.000000000,2016-04-04T11:34:43.000000000,2016-04-08T11:15:14.000000000,2016-04-08T12:30:43.000000000,None,None,2016-04-08T12:34:00.000000000,2016-04-08T12:34:00.000000000,None,None,2016-04-04T11:34:45.000000000,2016-04-04T11:34:57.000000000
8,218,154636,2016-04-07T11:33:03.000000000,2016-04-10T15:12:42.000000000,2016-04-08T08:55:00.000000000,2016-04-09T08:35:13.000000000,None,None,2016-04-09T11:18:00.000000000,2016-04-09T11:18:00.000000000,None,None,2016-04-07T11:33:07.000000000,2016-04-10T15:12:42.000000000
9,220,84389,2016-04-06T00:36:22.000000000,2016-04-15T16:10:56.000000000,2016-04-06T00:35:53.000000000,2016-04-14T12:36:01.000000000,None,None,2016-04-14T12:36:00.000000000,2016-04-14T12:36:00.000000000,2016-04-06T00:37:36.000000000,2016-04-06T00:37:36.000000000,2016-04-06T00:36:22.000000000,2016-04-15T16:11:29.000000000

In [116]:
positive_timetable[positive_timetable['1start'].isnull()]

,uid,sid,1start,1end,2start,2end,3start,3end,4start,4end,5start,5end,6start,6end
137,5085,152478,None,None,2016-04-08T22:03:34.000000000,2016-04-08T22:03:34.000000000,2016-04-08T22:03:45.000000000,2016-04-08T22:03:45.000000000,2016-04-08T22:04:00.000000000,2016-04-08T22:04:00.000000000,None,None,None,None
353,10791,111225,None,None,2016-04-05T08:24:16.000000000,2016-04-05T08:24:16.000000000,None,None,2016-04-05T08:25:00.000000000,2016-04-05T08:25:00.000000000,None,None,2016-04-05T08:23:54.000000000,2016-04-05T08:24:22.000000000
500,15155,138778,None,None,2016-04-06T00:08:35.000000000,2016-04-06T00:08:35.000000000,2016-04-06T00:13:58.000000000,2016-04-06T00:13:58.000000000,2016-04-06T00:14:00.000000000,2016-04-06T00:14:00.000000000,None,None,None,None
511,15500,132782,None,None,2016-04-13T15:55:30.000000000,2016-04-13T15:55:30.000000000,None,None,2016-04-13T15:57:00.000000000,2016-04-13T15:57:00.000000000,None,None,None,None
552,16781,77074,None,None,2016-04-09T14:03:51.000000000,2016-04-09T14:03:51.000000000,None,None,2016-04-09T14:09:00.000000000,2016-04-09T14:09:00.000000000,None,None,None,None
812,29597,44854,None,None,2016-04-08T12:46:27.000000000,2016-04-08T12:46:27.000000000,None,None,2016-04-08T12:50:00.000000000,2016-04-08T12:50:00.000000000,None,None,None,None
953,33657,57018,None,None,2016-04-08T21:29:18.000000000,2016-04-14T08:01:23.000000000,None,None,2016-04-14T08:02:00.000000000,2016-04-14T08:02:00.000000000,None,None,None,None
956,33682,69209,None,None,None,None,None,None,2016-04-15T15:21:00.000000000,2016-04-15T15:21:00.000000000,None,None,None,None
1326,45223,142140,None,None,2016-04-14T13:58:36.000000000,2016-04-14T13:58:36.000000000,None,None,2016-04-14T14:27:00.000000000,2016-04-14T14:27:00.000000000,None,None,None,None
1360,46579,69355,None,None,None,None,None,None,2016-04-15T23:58:00.000000000,2016-04-15T23:58:00.000000000,None,None,None,None
1373,46954,67241,None,None,2016-04-11T21:01:44.000000000,2016-04-11T21:01:44.000000000,None,None,2016-04-11T21:24:00.000000000,2016-04-11T21:24:00.000000000,None,None,None,None
1408,47805,79520,None,None,None,None,None,None,2016-04-05T07:35:00.000000000,2016-04-05T07:35:00.000000000,None,None,None,None
1410,47852,83144,None,None,2016-04-08T16:21:37.000000000,2016-04-08T16:21:37.000000000,None,None,2016-04-08T16:24:00.000000000,2016-04-08T16:24:00.000000000,None,None,None,None
1469,49560,101181,None,None,2016-04-15T12:31:01.000000000,2016-04-15T12:31:01.000000000,None,None,2016-04-15T12:40:00.000000000,2016-04-15T12:40:00.000000000,None,None,None,None
1514,50758,134084,None,None,2016-04-14T20:27:05.000000000,2016-04-14T20:34:00.000000000,None,None,2016-04-14T20:43:00.000000000,2016-04-14T20:43:00.000000000,None,None,2016-04-14T20:05:03.000000000,2016-04-14T20:34:29.000000000
1528,51154,57018,None,None,None,None,None,None,2016-04-03T17:56:00.000000000,2016-04-03T17:56:00.000000000,None,None,None,None
1574,52803,32465,None,None,None,None,None,None,2016-04-05T12:10:00.000000000,2016-04-05T12:10:00.000000000,None,None,None,None
1594,53080,68767,None,None,2016-04-13T14:33:16.000000000,2016-04-13T14:33:16.000000000,None,None,2016-04-13T15:20:00.000000000,2016-04-13T15:20:00.000000000,None,None,None,None
1737,57513,79520,None,None,None,None,None,None,2016-04-06T19:40:00.000000000,2016-04-06T19:40:00.000000000,None,None,None,None
1816,60125,153395,None,None,None,None,None,None,2016-04-05T19:50:00.000000000,2016-04-05T19:50:00.000000000,None,None,None,None
1899,63011,126144,None,None,2016-04-07T00:10:18.000000000,2016-04-07T00:14:27.000000000,None,None,2016-04-07T00:23:00.000000000,2016-04-07T00:23:00.000000000,None,None,2016-04-07T00:10:16.000000000,2016-04-07T00:11:36.000000000
1908,63310,168651,None,None,None,None,None,None,2016-04-01T19:20:00.000000000,2016-04-01T19:20:00.000000000,None,None,None,None
1939,64625,124997,None,None,2016-04-05T21:14:50.000000000,2016-04-05T21:53:10.000000000,2016-04-05T21:41:19.000000000,2016-04-05T21:55:42.000000000,2016-04-05T21:56:00.000000000,2016-04-05T21:56:00.000000000,None,None,None,None
1949,65087,123773,None,None,None,None,None,None,2016-04-04T23:30:00.000000000,2016-04-04T23:30:00.000000000,None,None,None,None
1956,65356,31662,None,None,None,None,None,None,2016-04-02T13:05:00.000000000,2016-04-02T13:05:00.000000000,None,None,None,None
2008,70830,57018,None,None,None,None,None,None,2016-04-11T10:16:00.000000000,2016-04-11T10:16:00.000000000,None,None,None,None
2083,75088,101181,None,None,2016-04-08T09:14:13.000000000,2016-04-11T10:00:11.000000000,2016-04-08T10:17:38.000000000,2016-04-08T10:17:38.000000000,2016-04-11T10:01:00.000000000,2016-04-11T10:01:00.000000000,None,None,None,None
2227,79043,12564,None,None,2016-04-08T09:35:43.000000000,2016-04-08T09:35:43.000000000,None,None,2016-04-08T09:37:00.000000000,2016-04-08T09:37:00.000000000,None,None,None,None
2280,80944,154636,None,None,None,None,None,None,2016-04-08T12:44:00.000000000,2016-04-08T12:44:00.000000000,None,None,None,None
2307,81615,69209,None,None,2016-04-02T13:37:18.000000000,2016-04-02T13:37:18.000000000,None,None,2016-04-02T13:41:00.000000000,2016-04-02T13:41:00.000000000,None,None,None,None
2350,83090,138853,None,None,2016-04-04T18:57:58.000000000,2016-04-04T18:57:58.000000000,None,None,2016-04-07T10:07:00.000000000,2016-04-07T10:07:00.000000000,None,None,None,None
2375,83774,131300,None,None,None,None,2016-04-10T06:31:00.000000000,2016-04-10T06:31:00.000000000,2016-04-10T06:31:00.000000000,2016-04-10T06:31:00.000000000,None,None,None,None
2437,85588,141460,None,None,None,None,None,None,2016-04-01T13:24:00.000000000,2016-04-01T13:24:00.000000000,None,None,None,None
2449,86019,126146,None,None,None,None,None,None,2016-04-10T19:11:00.000000000,2016-04-10T19:11:00.000000000,None,None,None,None
2617,92814,65520,None,None,None,None,None,None,2016-04-04T00:52:00.000000000,2016-04-04T00:52:00.000000000,None,None,None,None
2668,95175,131300,None,None,2016-04-09T20:42:46.000000000,2016-04-09T20:42:46.000000000,None,None,2016-04-09T21:02:00.000000000,2016-04-09T21:02:00.000000000,None,None,None,None
2696,96275,154636,None,None,None,None,None,None,2016-04-11T21:16:00.000000000,2016-04-11T21:16:00.000000000,None,None,None,None
2703,96457,164211,None,None,None,None,None,None,2016-04-03T14:19:00.000000000,2016-04-03T14:19:00.000000000,None,None,None,None
2772,98540,6533,None,None,2016-04-14T12:03:38.000000000,2016-04-14T12:08:06.000000000,2016-04-14T12:07:39.000000000,2016-04-14T12:07:39.000000000,2016-04-14T12:09:00.000000000,2016-04-14T12:09:00.000000000,None,None,None,None

In [122]:
positive_timetable.apply(lambda x: x['4start'] - x['1start'] if x['1start'] else 0 , 1).describe()

count                      2886
mean     1 days 16:39:10.878724
std      2 days 15:03:45.411625
min          -11 days +21:26:55
25%      0 days 00:19:16.750000
50%             0 days 11:33:54
75%      2 days 05:32:59.250000
max            13 days 14:09:44
dtype: object